body {
    font: 18px/28px din-2014, Sans-Serif, sans-serif;
    color: #212121;
	font-weight: 300;
    text-align: left;
    background: #fff;
	margin: 0;
}

body.vimeo-01 {
	background: #222222;
}

h1 {
    font-weight: 800;
    text-transform: uppercase;
}

h2 {
    font-weight: 400;
    line-height: 1em;
	font-size: 1.2em;
}

#logo img { 
	max-width: 50% !important;
	max-height: auto;
	min-width: 160px;
	min-height: auto;
}

#daten {
    color: #212121;
}

#privacy {
    color: #ededed;
}

#hell,
#hell a {
    color: #fff;
	cursor: default;
}

#hell:hover,
#hell:focus,
#hell:link,
#hell:visited,
#hell a:hover,
#hell a:focus,
#hell a:link,
#hell a:visited {
	text-decoration: none;
	cursor: default;
}

a:active,
a:focus,
a:link,
a:visited {
    color: #212121;
    text-decoration: none;
}

a:hover,
a:visited:hover {
    color: #FAD837;
}

#content {
    position: absolute;
    left: 55%;
									   top: 45%;
				transform: translate(-55%, -45%);
		-webkit-transform: translate(-55%, -45%);
		   -moz-transform: translate(-55%, -45%);
		    -ms-transform: translate(-55%, -45%);
		     -o-transform: translate(-55%, -45%);
}


#vimeo-01 {
    position: absolute;
    left: 50%;
									   top: 50%;
				transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		   -moz-transform: translate(-50%, -50%);
		    -ms-transform: translate(-50%, -50%);
		     -o-transform: translate(-50%, -50%);
}


@media only screen and (max-width: 800px) {
  #content {
    position: absolute;
    left: 58%;
									   top: 25%;
				transform: translate(-58%, -45%);
		-webkit-transform: translate(-58%, -45%);
		   -moz-transform: translate(-58%, -45%);
		    -ms-transform: translate(-58%, -45%);
		     -o-transform: translate(-58%, -45%);
}
}

@media only screen and (max-width: 812px) {
  #content {
    position: absolute;
    left: 58%;
									   top: 50%;
				transform: translate(-58%, -45%);
		-webkit-transform: translate(-58%, -45%);
		   -moz-transform: translate(-58%, -45%);
		    -ms-transform: translate(-58%, -45%);
		     -o-transform: translate(-58%, -45%);
}
}

@media only screen and (max-width: 768px) {
  #content {
    position: absolute;
    left: 58%;
									   top: 30%;
				transform: translate(-58%, -45%);
		-webkit-transform: translate(-58%, -45%);
		   -moz-transform: translate(-58%, -45%);
		    -ms-transform: translate(-58%, -45%);
		     -o-transform: translate(-58%, -45%);
}
}

@media only screen and (max-width: 736px) {
  #content {
    position: absolute;
    left: 58%;
									   top: 50%;
				transform: translate(-58%, -45%);
		-webkit-transform: translate(-58%, -45%);
		   -moz-transform: translate(-58%, -45%);
		    -ms-transform: translate(-58%, -45%);
		     -o-transform: translate(-58%, -45%);
}
}

@media only screen and (max-width: 667px) {
  #content {
    position: absolute;
    left: 58%;
									   top: 50%;
				transform: translate(-58%, -45%);
		-webkit-transform: translate(-58%, -45%);
		   -moz-transform: translate(-58%, -45%);
		    -ms-transform: translate(-58%, -45%);
		     -o-transform: translate(-58%, -45%);
}
}

@media only screen and (max-width: 415px) {
  #content {
    position: absolute;
    left: 53%;
									   top: 35%;
				transform: translate(-53%, -45%);
		-webkit-transform: translate(-53%, -45%);
		   -moz-transform: translate(-53%, -45%);
		    -ms-transform: translate(-53%, -45%);
		     -o-transform: translate(-53%, -45%);
}
}

@media only screen and (max-width: 375px) {
  #content {
    position: absolute;
    left: 50%;
									   top: 35%;
				transform: translate(-50%, -45%);
		-webkit-transform: translate(-50%, -45%);
		   -moz-transform: translate(-50%, -45%);
		    -ms-transform: translate(-50%, -45%);
		     -o-transform: translate(-50%, -45%);
}
}


