#content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

body {
    font: 18px/28px din-2014, Sans-Serif, sans-serif;
    color: hsl(0, 0%, 13%);
	font-weight: 300;
    text-align: left;
    background: hsl(0, 0%, 95%);
	margin: 0;
}

#logo img { 
	max-width: 200px;
	max-height: auto;
	min-width: 160px;
	min-height: auto;
}

h1 {
    font-weight: 800;
    text-transform: uppercase;
}

h2 {
    font-weight: 400;
    line-height: 1em;
	font-size: 1.2em;
}

#daten {
    color: hsl(0, 0%, 13%);
}

#privacy {
    color: hsl(0, 0%, 75%);
}

#hell,
#hell a {
    color: hsl(0, 0%, 95%);
	cursor: default;
}

#hell:hover,
#hell:focus,
#hell:link,
#hell:visited,
#hell a:hover,
#hell a:focus,
#hell a:link,
#hell a:visited {
	text-decoration: none;
	cursor: default;
}

a {
    padding: 0 6px;
    margin-left: -6px;
}

a:active,
a:focus,
a:link,
a:visited {
    color: hsl(0, 0%, 13%);
    text-decoration: none;
}

a:hover,
a:visited:hover {
    color: hsl(50, 95%, 60%);
    background-color:hsl(0, 0%, 13%);
    transition: .7s;
}

