#content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

body {
    font: 18px/28px din-2014, Sans-Serif, sans-serif;
    color: #212121;
	font-weight: 300;
    text-align: left;
    background: #fff;
	margin: 0;
}

#logo img { 
	max-width: 200px;
	max-height: auto;
	min-width: 160px;
	min-height: auto;
}

h1 {
    font-weight: 800;
    text-transform: uppercase;
}

h2 {
    font-weight: 400;
    line-height: 1em;
	font-size: 1.2em;
}

#daten {
    color: #212121;
}

#privacy {
    color: #ededed;
}

#hell,
#hell a {
    color: #fff;
	cursor: default;
}

#hell:hover,
#hell:focus,
#hell:link,
#hell:visited,
#hell a:hover,
#hell a:focus,
#hell a:link,
#hell a:visited {
	text-decoration: none;
	cursor: default;
}

a:active,
a:focus,
a:link,
a:visited {
    color: #212121;
    text-decoration: none;
}

a:hover,
a:visited:hover {
    color: #FAD837;
}

